# Google Sheets Configuration
GOOGLE_SHEET_ID=17cLGuJ5Gy7xHN03CJzLcrUIPKLgxEm-lFQbnowVwvo0
# For JSON key (JavaScript format): use the downloaded JSON file
GOOGLE_SERVICE_ACCOUNT_KEY=service-account-key.json

GOOGLE_SERVICE_ACCOUNT_EMAIL=wedding-rsvp@wedding-rsvp-service-478506.iam.gserviceaccount.com

# Gmail Configuration
GMAIL_USER=hung.ktfv@gmail.com
GMAIL_PASS=ttzsmmvkompitpdf

